{% extends 'base.html' %}
{% load static %}
{% block body %}
  <h1>{{ user.username }}님의 프로필</h1>
  {% if request.user.is_authenticated %}
    {% if request.user != fuser %}
      <form action="{% url 'accounts:follow' user.pk%}" method='POST'>
        {% csrf_token %}
        {% if request.user in user.followers.all %}
          <input type="submit" value='unfollow' class='btn btn-outline-danger'>
        {% else %}
          <input type="submit" value='follow' class='btn btn-outline-primary'>
        {% endif %}
      </form>
    {% endif %}
  {% endif %}
  {% comment %} <button id='#follow'>follow</button>
  <script>
    const btn_follow = document.querySelector('#follow')
    btn_follow.addEventListener('click',function(){
      const btn_unfollow = document.querySelector('button')
      btn_unfollow.classList.toggle('btn-danger')
    })
    const btn_following = document.querySelector('#unfollow')
    btn_follow.addEventListener('click',function(){
      const btn_follow = document.querySelector('button')
      btn_follow.classList.toggle('btn-primary')
    }) 실패...
  </script> {% endcomment %} 
  <p>{{ user.email }}
    |
    {{ user.full_name }}</p>
  <div class="">
    <div class="row">
      <div class="col-6">
        <h3>팔로워 목록</h3>
        <p class="text-muted">{{user.followers.all|length}}
          follower</p>
        {% for fu in user.followers.all %}
          <p>
            {{ forloop.counter }}
            <a href="{% url 'accounts:detail' fu.pk %}">
              {{ fu.username }}
            </a>
          </p>
        {% endfor %}
      </div>
      <div class="col-6">
        <h3>팔로잉 목록</h3>
        <p class="text-muted">{{user.followings.all|length}}
          followings</p>
        {% for fu in user.followings.all %}
          <p>
            {{ forloop.counter }}
            <a href="{% url 'accounts:detail' fu.pk %}">
              {{ fu.username }}
            </a>
          </p>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h3>작성한 글</h3>
        <p class="text-muted">{{ user.article_set.count }}개를 작성하였습니다.</p>
        {% for article in user.article_set.all %}
          <p>
            {{ forloop.counter }}
            <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
          </p>
        {% endfor %}
      </div>
      <div class="col-6">
        <h3>작성한 댓글</h3>
        <p class="text-muted">{{ user.comment_set.count }}개를 작성하였습니다.</p>
        {% for comment in user.comment_set.all %}
          <p>
            {{ forloop.counter }}
            <a href="{% url 'articles:detail' comment.article_id %}">{{ comment.content }}</a>
          </p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock body %}